$fontFamily: Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$fontSize: 15px;
$fontWeight: 300;

$backgroundColor: #fff;
$textColor: #000;
$headerImage: url("../img/header_background_v1.jpg");
$headerTextColor: #fff;
$buttonColor: #00acac;
$inputBorderColor: #607d8b;
$inputColor: #75757c;
$articleBackgroundColor: #efefef;
$postDescriptionColor: #ff0c09;
$articleHeaderColor: #139eac;
$labelTextColor: #2da8bb;