$fontFamily: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$fontSize: 18px;
$fontWeight: normal;

$backgroundColor: #efefef;
$textColor: #75757c;
$headerImage: url("../img/header_background_v2.jpg");
$headerTextColor: #ff5722;
$buttonColor: #0401ac;
$inputBorderColor: #607d8b;
$inputColor: #75757c;
$articleBackgroundColor: #fff;
$postDescriptionColor: #9f9fa7;
$articleHeaderColor: #607d9a;
$labelTextColor: #65878a;